* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  padding: 10px;
  /* margin: 5px;
  border: 5px solid black; */
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.hero-container {
  background-image: url("/images/SARAH-12.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dev {
  /* background-image: url("/images/img-2.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.art {
  /* background-image: url("/images/img-1.jpg"); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
  margin: 15px 0px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: small;
}

.button {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}

.button:hover {
  background-color: black;
  color: white;
}

.sign-up {
  background-image: url("/images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}
